RewriteEngine On
RewriteBase / 
RewriteRule ^archives/category/(.*)/(feed|rdf|rss|rss2|atom)/?$ /wordpress/wp-feed.php?category_name=$1&feed=$2 [QSA]
RewriteRule ^archives/category/?(.*) /index.php?category_name=$1 [QSA]
RewriteRule ^archives/author/(.*)/(feed|rdf|rss|rss2|atom)/?$ /wordpress/wp-feed.php?author_name=$1&feed=$2 [QSA]
RewriteRule ^archives/author/?(.*) /index.php?author_name=$1 [QSA]
RewriteRule ^archives/([0-9]{4})?/?([0-9]{1,2})?/?([0-9]{1,2})?/?([_0-9a-z-]+)?/?([0-9]+)?/?$ /index.php?year=$1&monthnum=$2&day=$3&name=$4&page=$5 [QSA]
RewriteRule ^archives/([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/([_0-9a-z-]+)/(feed|rdf|rss|rss2|atom)/?$ /wordpress/wp-feed.php?year=$1&monthnum=$2&day=$3&name=$4&feed=$5 [QSA]
RewriteRule ^archives/([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/([_0-9a-z-]+)/trackback/?$ /wordpress/wp-trackback.php?year=$1&monthnum=$2&day=$3&name=$4 [QSA]
RewriteRule ^feed/?([_0-9a-z-]+)?/?$ /wordpress/wp-feed.php?feed=$1 [QSA]
RewriteRule ^comments/feed/?([_0-9a-z-]+)?/?$ /wordpress/wp-feed.php?feed=$1&withcomments=1 [QSA]

# redirect my old MovableType feeds
RewriteRule ^index.rdf /feed/rss2 [r=301,L]
RewriteRule ^index.xml /feed/rss2 [r=301,L]

# redirect for individual entries (/archives/000001.html). not perfect
RewriteRule ^archives/([0-9]{6}).html$ /redir-mt.php?post=$1 [r=301,L]

# redirect for monthly entries (/archives/2003_04.html)
RewriteRule ^archives/([0-9]{4})_([0-9]{2}).html$ /archives/$1/$2/ [r=301,L]

# category archives
RewriteRule ^archives/cat_books.html /archives/category/books [r=301,L]
RewriteRule ^archives/cat_ideas.html /archives/category/ideas [r=301,L]
RewriteRule ^archives/cat_software.html /archives/category/software [r=301,L]

# still to do: weekly archives (but I don't think I'm gonna bother with that)

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
