<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>All articles </title>
{% include "inline_css.html" %}
</head>
<body>

{% include "page_top.html" %}

<div id="content" style="line-height:1.50">
<h1><a href=/index.html>home</a> &#8227; 
  {% if tag %}
  Posts tagged with: {{ tag }}
  {% else %}
  Archives
  {% endif %} ({{ posts_count }} articles)</h1>

<table id=arc>
  {% for year in years %}
    <tr class=year><th colspan=2>{{ year.name }}</th></tr>
    {% for month in year.months %}
    <tr><th>{{ month.name }}</th><td></td></tr>    
      {% for article in month.articles %}
      <tr><th>{{ article.day }}</th><td><a href="/{{ article.permalink }}">{{ article.title }}</a>
        {% if article.tags_display %}
          ({{ article.tags_display }})
        {% endif %}

        {% if article.is_deleted %}
        &nbsp;<font color="red">deleted</font>
        {% endif %}
        {% if not article.is_public %}
        &nbsp;<font color="red">private</font>
        {% endif %}
      </td></tr>
      {% endfor %}
    {% endfor %}
  {% endfor %}

</table>
<hr>
<center><a href=/index.html>Krzysztof Kowalczyk</a></center>
</div>

{% include "analytics.html" %}

</body>
</html>
