<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="alternate" type="application/atom+xml" title="RSS 2.0" href="/atom.xml">

<title>All articles</title>

<script type="text/javascript" src="{{ jquery_url }}"></script>

{% include "tagcloud.js" %}

<script type="text/javascript">
function articlesJsonLoaded(articlesJson) {
  articles_json = articlesJson;
  var html = genTagCloudHtml();
  $('#tagCloud').html(html);
}

$(document).ready(function(){
  $("#searchFieldId").focus(function(){
    $(this).val("").removeClass("inactiveSearch");
  });
  $("#searchFieldId").blur(function(){
    $(this).val("Search this site").addClass("inactiveSearch");
  });

  $("#searchFieldId").blur(); /* force setting the text */
});
</script>

{% include "inline_css.html" %}

</head>
<body>

<div id="content" style="line-height:1.50">

{% if is_admin %}
<center id="adminList" style="font-size: 90%; background: #ddd">
<a href="{{ login_out_url }}">Log out</a>&nbsp;
<a href="/app/edit">New Post</a>&nbsp;
<a href="/app/showprivate">Show private</a>&nbsp;
</center>
{% endif %}

<h1 style="display:inline;"><a href=/index.html>home</a> &#8227; 
  {% if tag %}
  Posts tagged with: {{ tag }} ({{ posts_count }} articles)
  {% else %}
  All {{ posts_count }} articles
  {% endif %} 
</h1>
{% if not is_admign %}
<a id="login_id" class="invisible" onMouseOver="showLogin();" onMouseOut="hideLogin();" href="{{ login_out_url }}">login</a>
{% endif %}

<span style="float:right">
  <form method="get" action="http://google.com/search" >
  <input type="hidden" name="IncludeBlogs" value="1">
  <input type="hidden" name="as_sitesearch" value="http://blog.kowalczyk.info">
  <input size=20 type="text" name="q" id="searchFieldId" />
  <input class="button" value="Go" type="submit">
  </form>
</span>

<table id=arc>
  {% for year in years %}
    <tr class=year><th colspan="2" style="text-align: left; padding-left: 5px;">{{ year.name }}</th></tr>
    {% for month in year.months %}
    <tr><th>{{ month.name }}</th><td></td></tr>    
      {% for article in month.articles %}
      <tr>
        <th>{{ article.day }}</th>
        <td>
        <a href="/{{ article.permalink }}">{{ article.title }}</a>
        {% if article.tags_display %}
          ({{ article.tags_display }})
        {% endif %}

        {% if article.is_deleted %}
        &nbsp;<font color="red">deleted</font>
        {% endif %}
        {% if not article.is_public %}
        &nbsp;<font color="red">private</font>
        {% endif %}
        {% if is_admin %}&nbsp;
        <a id="article_edit" href="/app/edit?article_permalink={{ article.permalink }}">edit</a>
        {% endif %}
      </td></tr>
      {% endfor %}
    {% endfor %}
  {% endfor %}

</table>
<br>

<div id="tagCloud">
</div>
<br>
<div class="line"></div>
<center><a href=/index.html>Krzysztof Kowalczyk</a></center>
</div>

{% include "analytics.html" %}

<script charset="utf-8" type="text/javascript" src="{{ articles_js_url }}"></script>

</body>
</html>
