<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/atom+xml" title="RSS 2.0" href="/atom.xml" />

<title>All articles</title>

<script type="text/javascript" src="{{ jquery_url }}"></script>

{% include "tagcloud.js" %}

<script type="text/javascript">
function articlesJsonLoaded(articlesJson) {
  articles_json = articlesJson;
  var html = genTagCloudHtml();
  $('#tagCloud').html(html);
}
</script>

{% include "inline_css.html" %}

</head>
<body>

<div id="content" style="line-height:1.50">

<h1><a href=/index.html>home</a> &#8227; 
  {% if tag %}
  Posts tagged with: {{ tag }} ({{ posts_count }} articles)
  {% else %}
  All {{ posts_count }} articles
  {% endif %} 
</h1>

<div style="position: absolute; right:20px; top:10px; font-size: 80%">
  <form method="get" action="http://google.com/search" >
  <input type="hidden" name="IncludeBlogs" value="1">
  <input type="hidden" name="as_sitesearch" value="http://blog.kowalczyk.info">
  <label for="searchFieldId">Search:</label> 
  <input size=12 type="text" name="q" id="searchFieldId" />
  <input class="button" value="Go" type="submit">
  </form>
</div>

<table id=arc>
  {% for year in years %}
    <tr class=year><th colspan=2>{{ year.name }}</th></tr>
    {% for month in year.months %}
    <tr><th>{{ month.name }}</th><td></td></tr>    
      {% for article in month.articles %}
      <tr><th>{{ article.day }}</th><td><a href="/{{ article.permalink }}">{{ article.title }}</a>
        {% if article.tags_display %}
          ({{ article.tags_display }})
        {% endif %}

        {% if article.is_deleted %}
        &nbsp;<font color="red">deleted</font>
        {% endif %}
        {% if not article.is_public %}
        &nbsp;<font color="red">private</font>
        {% endif %}
      </td></tr>
      {% endfor %}
    {% endfor %}
  {% endfor %}

</table>

<p></p>
<hr>
<div id="tagCloud">
</div>

<hr>
<center><a href=/index.html>Krzysztof Kowalczyk</a></center>
</div>

{% include "analytics.html" %}

<script charset="utf-8" type="text/javascript" src="{{ articles_js_url }}"></script>

</body>
</html>
