<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/atom+xml" title="RSS 2.0" href="/atom.xml" />

<title>{{ article.title }}</title>

<script type="text/javascript" src="{{ jquery_url }}"></script>

{% include "tagcloud.js" %}

<script type="text/javascript">
function articlesJsonLoaded(articlesJson) {
  articles_json = articlesJson;
  var html = genTagCloudHtml();
  $('#tagCloud').val(html);
}
</script>

<link  href="{{ prettify_css_url }}" type="text/css" rel="stylesheet" />
<script src="{{ prettify_js_url }}" type="text/javascript"></script>

{% include "inline_css.html" %}
</head>

<body onload="prettyPrint()">

<div id="content">

<h1>
  <a href=/index.html>home</a> &#8227; {{ article.title }}

  {% if not article.is_public %}
    &nbsp;<font color="red">private</font>
  {% endif %}
</h1>

<div id="adminList" style="position: absolute; left:10px; top:0px; font-size: 90%;">
{% if is_admin %}
<ul>
<li><a id="login_id" href="{{ login_out_url }}">Log out</a>
<li><a href="/app/edit?article_id={{ article.key.id }}">Edit</a>
<li><a href="/app/edit">New</a>
{% if article.is_deleted %}
  <li><a href="/app/undelete?article_id={{ article.key.id }}">Undelete</a></li>
  {% else %}
  <li><a href="/app/delete?article_id={{ article.key.id }}">Delete</a></li>
{% endif %}
<li><a href="/app/permanentdelete?article_id={{ article.key.id }}">Permanent delete</a></li>
<li><a href="/app/showprivate">Show private</a></li>
<li><a href="/app/showdeleted">Show deleted</a></li>
</ul>
{% else %}
<a id="login_id" class="invisible" onMouseOver="showLogin();" onMouseOut="hideLogin();" href="{{ login_out_url }}">login</a>
{% endif %}
</div>

<div style="position: absolute; right:20px; top:10px; font-size: 80%">
  <form method="get" action="http://google.com/search" >
  <input type="hidden" name="IncludeBlogs" value="1">
  <input type="hidden" name="as_sitesearch" value="http://blog.kowalczyk.info">
  <label for="searchFieldId">Search:</label> 
  <input size=12 type="text" name="q" id="searchFieldId" />
  <input class="button" value="Go" type="submit">
  </form>
</div>

<p>
  <table class="postmeta" width=100%>
  <tr><td >
  {{ article.published_on|date:"d M Y" }}
  {% if tags_display %}
   · Tags: {{ tags_display }}
  {% endif %}
  </span>

  </td><td style="text-align:right">
    {% if next_article %}
    <a title="{{ next_article.title }}" href="/{{ next_article.permalink}}">← newer</a>
    {% else %}
    ← newer
    {% endif %}
    &bull;
    {{ article_no }} of <a href="/archives.html">{{ articles_count }}</a>
    &bull;
    {% if prev_article %}
    <a title="{{ prev_article.title }}" href="/{{ prev_article.permalink}}">older →</a>
    {% else %}
    older →
    {% endif %}
  </td></tr></table>
</p>

{{ article.html_body }}

{% if article.is_public %}
<p>
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/krzysztofkowalczyknotebook/embed.js"></script><noscript><a href="http://krzysztofkowalczyknotebook.disqus.com/?url={{ full_permalink|urlencode }}">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</p>
{% endif %}

</div>

{% include "analytics.html" %}
{% if article.is_public %}
{% include "disqus-js.html" %}
{% endif %}

<script charset="utf-8" type="text/javascript" src="{{ articles_js_url }}"></script>

</body>
</html>
