<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<title>{{ article.title }}</title>

<link rel="alternate" type="application/atom+xml" title="RSS 2.0" href="/atom.xml">
<link  href="{{ prettify_css_url }}" type="text/css" rel="stylesheet">
{% include "inline_css.html" %}
<style type=text/css>
body {
  padding-left: 20px;
}
div#content {
  max-width: 900px;
}

</style>

<script type="text/javascript" src="{{ jquery_url }}"></script>

{% include "tagcloud.js" %}

<script type="text/javascript">
function articlesJsonLoaded(articlesJson) {
  articles_json = articlesJson;
  var html = genTagCloudHtml();
  $('#tagCloud').val(html);
}

$(document).ready(function(){
  $("#searchFieldId").focus(function(){
    $(this).val("").removeClass("inactiveSearch");
  });
  $("#searchFieldId").blur(function(){
    $(this).val("Search this site").addClass("inactiveSearch");
  });

  $("#searchFieldId").blur(); /* force setting the text */
});
</script>

<script src="{{ prettify_js_url }}" type="text/javascript"></script>

</head>

<body onload="prettyPrint()">

<div id="content">
{% if is_admin %}
    <center id="adminList" style="font-size: 90%; background: #ddd">
    <a href="{{ login_out_url }}">Log out</a>&nbsp;
    <a href="/app/edit?article_id={{ article.key.id }}">Edit</a>&nbsp;
    <a href="/app/edit">New</a>&nbsp;
    {% if article.is_deleted %}
     <a href="/app/undelete?article_id={{ article.key.id }}">Undelete</a>&nbsp;
     {% else %}
     <a href="/app/delete?article_id={{ article.key.id }}">Delete</a>&nbsp;
    {% endif %}
    <a href="/app/permanentdelete?article_id={{ article.key.id }}">Permanent delete</a>&nbsp;
    <a href="/app/showprivate">Show private</a>&nbsp;
    <a href="/app/showdeleted">Show deleted</a>&nbsp;
    </center>
    <br/>

{% endif %}


<h1 style="display:inline;">
  <a href="/index.html">home</a> &#8227;
  <span onMouseOver="showById('article_edit');" onMouseOut="hideById('article_edit');">
  {{ article.title }}
  {% if not article.is_public %}
    &nbsp;<font color="red">private</font>
  {% endif %}
  {% if is_admin %}&nbsp;
  <a id="article_edit" class="invisible" href="/app/edit?article_permalink={{ article.permalink }}">edit</a>
  {% else %}
  &nbsp;&nbsp;<a id="login_id" class="invisible" onMouseOver="showById('login_id');" onMouseOut="hideById('login_id');" href="{{ login_out_url }}">login</a>
  {% endif %}
  </span>
</h1>

<span style="float:right">
  <form method="get" action="http://google.com/search" >
  <input type="hidden" name="IncludeBlogs" value="1">
  <input type="hidden" name="as_sitesearch" value="http://blog.kowalczyk.info">
  <input size=20 type="text" name="q" id="searchFieldId" />
  <input class="button" value="Go" type="submit">
  </form>
<!--
  <center class="postmeta">
      {% if next_article %}
      <a title="{{ next_article.title }}" href="/{{ next_article.permalink}}">← newer</a>
      {% else %}
      ← newer
      {% endif %}
      &bull;
      {{ article_no }} of <a href="/archives.html">{{ articles_count }}</a>
      &bull;
      {% if prev_article %}
      <a title="{{ prev_article.title }}" href="/{{ prev_article.permalink}}">older →</a>
      {% else %}
      older →
      {% endif %}
  </center>  
-->
</span>

<div id="post">

{{ article.html_body }}

<span class="postmeta">
Posted on {{ article.published_on|date:"d M Y" }}
{% if tags_display %}
&bull; Tags: {{ tags_display }}
{% endif %}
</span>

</div>

<center class="postmeta">
    {% if next_article %}
    <a title="{{ next_article.title }}" href="/{{ next_article.permalink}}">← newer</a>
    {% else %}
    ← newer
    {% endif %}
    &bull;
    {{ article_no }} of <a href="/archives.html">{{ articles_count }}</a>
    &bull;
    {% if prev_article %}
    <a title="{{ prev_article.title }}" href="/{{ prev_article.permalink}}">older →</a>
    {% else %}
    older →
    {% endif %}
</center>
<br>

<!--
{% if article.is_public %}
<p>
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/krzysztofkowalczyknotebook/embed.js"></script><noscript><a href="http://krzysztofkowalczyknotebook.disqus.com/?url={{ full_permalink|urlencode }}">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</p>
{% endif %}
-->

</div>

{% include "analytics.html" %}

<!--
{% if article.is_public %}
{% include "disqus-js.html" %}
{% endif %}
-->

<script charset="utf-8" type="text/javascript" src="{{ articles_js_url }}"></script>

</body>
</html>
