<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/atom+xml" title="RSS 2.0" href="/atom.xml" />

<title>{{ article.title }}</title>

<script type="text/javascript" src="{{ jquery_url }}"></script>

{% include "tagcloud.js" %}

<script type="text/javascript">
function articlesJsonLoaded(articlesJson) {
  articles_json = articlesJson;
  var html = genTagCloudHtml();
  $('#tagCloud').val(html);
}
</script>

<link  href="{{ prettify_css_url }}" type="text/css" rel="stylesheet" />
<script src="{{ prettify_js_url }}" type="text/javascript"></script>

{% include "inline_css.html" %}

</head>

<body onload="prettyPrint()">

<div id="content">

<h1>
  <a href=/index.html>home</a> &#8227; {{ article.title }}

  {% if not article.is_public %}
    &nbsp;<font color="red">private</font>
  {% endif %}

  {% if is_admin %}
  &nbsp;<a id="login_id" href="{{ login_out_url }}">Log out</a>
  &nbsp;<a href="/app/edit?article_id={{ article.key.id }}">Edit</a>
  &nbsp;<a href="/app/edit">New</a>
  {% if article.is_deleted %}
    &nbsp;<a href="/app/undelete?article_id={{ article.key.id }}">Undelete</a>
    &nbsp;<a href="/app/permanentdelete?article_id={{ article.key.id }}">Permanent delete</a>
  {% else %}
    &nbsp;<a href="/app/delete?article_id={{ article.key.id }}">Delete</a>
  {% endif %}
  {% else %}
  &nbsp;<a id="login_id" class="invisible" onMouseOver="showLogin();" onMouseOut="hideLogin();" href="{{ login_out_url }}">login</a>
  {% endif %}
  </h1>
</h1>

<p>
  <table class="postmeta" width=100%>
  <tr><td >
  {{ article.published_on|date:"d M Y" }}
  {% if tags_display %}
   · Tags: {{ tags_display }}
  {% endif %}

  {% if is_admin %}
  <span style="color:#ee3e3e;">
  &nbsp;&nbsp;Show:
  <a class="visible" href="/app/showprivate">private</a>
  &nbsp;<a class="visible" href="/app/showdeleted">deleted</a>
  {% endif %}
  </span>

  </td><td style="text-align:right">
    {% if next_article %}
    <a title="{{ next_article.title }}" href="/{{ next_article.permalink}}">← newer</a>
    {% else %}
    ← newer
    {% endif %}
    &bull;
    {{ article_no }} of <a href="/archives.html">{{ articles_count }}</a>
    &bull;
    {% if prev_article %}
    <a title="{{ prev_article.title }}" href="/{{ prev_article.permalink}}">older →</a>
    {% else %}
    older →
    {% endif %}
  </td></tr></table>
</p>

{{ article.html_body }}

{% if article.is_public %}
<p>
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/krzysztofkowalczyknotebook/embed.js"></script><noscript><a href="http://krzysztofkowalczyknotebook.disqus.com/?url={{ full_permalink|urlencode }}">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</p>
{% endif %}

</div>

{% include "analytics.html" %}
{% if article.is_public %}
{% include "disqus-js.html" %}
{% endif %}

<script charset="utf-8" type="text/javascript" src="/js/articles.js"></script>

</body>
</html>
