<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/atom+xml" title="RSS 2.0" href="/atom.xml" />

<title>Krzysztof J. Kowalczyk's notebook</title>

<script type="text/javascript" src="{{ jquery_url }}"></script>

{% include "tagcloud.js" %}

<script type="text/javascript">
function articlesJsonLoaded(articlesJson) {
  articles_json = articlesJson;
  var html = genTagCloudHtml();
  $('#tagCloud').html(html);
}

$(document).ready(function(){
  $("#searchFieldId").val("Search").addClass("inactiveSearch");

  $("#searchFieldId").focus(function(){
    $(this).val("").removeClass("inactiveSearch");
  });
  $("#searchFieldId").blur(function(){
    $(this).val("Search").addClass("inactiveSearch");
  });

});

</script>

{% include "inline_css.html" %}
<style>

th {
  padding: 2px 15px 2px 2px;
}
td {
  padding: 2px 15px 2px 2px;
}
.date {
  font-family: Monaco,"Courier New",monospace;
  font-size: 90%;
  color: #999999;
}
.smaller {
	color: gray;
	font-size: 65%;
	font-weight: normal;
}

.smaller2 {
	color: gray;
	font-size: 85%;
	font-weight: normal;
}

.inactiveSearch {
	color: gray;
	font-size: 85%;
	font-style: italic;
}

#left-column {
	width: 200px;
	float: left;
	// background-color: #ccc;
}

#right-column {
	width: 700px;
	//background-color: #ddd;
	margin: 2px 8px;
}
</style>
</head>

<body>

<div id="content">
<h1>Krzysztof J. Kowalczyk's notebook <span class="smaller">(saying n'importe quoi since 2002)</span></h1> 

<p></p>

<div id="left-column">

{% if is_admin %}
<b>Admin actions:</b><br>
<a href="{{ login_out_url }}">log out</a><br>
<a href="/app/edit">new post</a><br>
<a href="/app/showprivate">private</a><br>
<br>
{% else %}
<a id="login_id" class="invisible" onMouseOver="showLogin();" onMouseOut="hideLogin();" href="{{ login_out_url }}">login</a>
<br>
{% endif %}

<form method="get" action="http://google.com/search" >
<input type="hidden" name="IncludeBlogs" value="1">
<input type="hidden" name="as_sitesearch" value="http://blog.kowalczyk.info">
<input size=18 type="text" name="q" id="searchFieldId"/>
<input class="button" value="Go" type="submit">
</form>
<br>

<b>Me:</b><br>
<script>
  var email = "";
  email += "kkowalczyk";
  email += "@";
  email += "gmail.com"
  hyperlink = "<a href='mailto:email'>email</a>";
  hyperlink = hyperlink.replace(/email/g, email);
  document.write(hyperlink);
</script>
<br>
<a href="http://github.com/kjk">github.com/kjk</a><br>
<a href="http://twitter.com/kjk">twitter.com/kjk</a><br>
<a href="http://code.google.com/u/kkowalczyk/">code.google.com/u/kkowalczyk</a><br>
<a href="/static/me.html">more</a><br>
<br>
<b>On this site:</b><br>
<a href="/software/sumatrapdf/">SumatraPDF</a><br>
<span class="smaller2">(PDF Reader for Windows)</span><br>
<a href="/software/fofou/">fofou</a><br>
<span class="smaller2">(forum software for App Engine)</span><br>
<a href="/articles/cocoa-reference.html"> Cocoa reference</a><br>
<a href="/articles/pyref.html">Python reference</a><br>
<a href="/software/15minutes/">15minutes</a><br>
<a href="/software/scdiff/">scdiff</a><br>
</div> <!-- left-column -->

<div id="right-column">
<table>
  <tr>
    <th colspan=2>Recent posts:</th>
  </tr>
{% for article in articles_summary %}
<tr>
  <td class="date">{{ article.published_on|date:"d M Y" }}</td>
  <td><a href="{{ article.permalink }}">{{ article.title }}</a>
    {% if not article.is_public %}
    <font color=red>private</font>
    {% endif %}
  </td>
</tr>
{% endfor %}
<tr><td></td>
  <td style="text-align: right;">
    <a href="/archives.html">see all {{ articles_count }}</a>
    </td>
</tr>
</table>

<p></p>
<hr>
<br/>
<div id="tagCloud">
</div>
</div>

</div>

<hr>
{% include "analytics.html" %}
<script charset="utf-8" type="text/javascript" src="{{ articles_js_url }}"></script>
</body>
</html>
