<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/atom+xml" title="RSS 2.0" href="/atom.xml" />

<title>Krzysztof J. Kowalczyk's notebook</title>

<script type="text/javascript" src="{{ jquery_url }}"></script>

{% include "tagcloud.js" %}

<script type="text/javascript">
function articlesJsonLoaded(articlesJson) {
  articles_json = articlesJson;
  var html = genTagCloudHtml();
  $('#tagCloud').html(html);
}
</script>

{% include "inline_css.html" %}
<style>

table {
}
th {
  padding: 2px 15px 2px 2px;
}
td {
  padding: 2px 15px 2px 2px;
}
.date {
  font-family: Monaco,"Courier New",monospace;
  font-size: 90%;
  color: #999999;;
}
</style>
</head>

<body>

<div id="content">
<h1>Krzysztof J. Kowalczyk's notebook 
  {% if is_admin %}
  &nbsp;<a id="login_id" href="{{ login_out_url }}">log out</a>
  {% else %}
  &nbsp;<a id="login_id" class="invisible" onMouseOver="showLogin();" onMouseOut="hideLogin();" href="{{ login_out_url }}">login</a>
  {% endif %}
</h1>

<div style="position: absolute; right:20px; top:10px; font-size: 80%">
  <form method="get" action="http://google.com/search" >
  <input type="hidden" name="IncludeBlogs" value="1">
  <input type="hidden" name="as_sitesearch" value="http://blog.kowalczyk.info">
  <label for="searchFieldId">Search:</label> 
  <input size=12 type="text" name="q" id="searchFieldId" />
  <input class="button" value="Go" type="submit">
  </form>
</div>

<p></p>
<center>
  <script>
  var models_eliminated = [517, 515, 514];
  var models = [320, 321, 508, 509, 510, 513, 518, 519, 659];
  var i = Math.floor( models.length * Math.random());
  var model = models[i];
  var html = '<img src=http://www.moroniusa.com/images/pic_' + model + '.jpg>' + '<a href=http://www.moroniusa.com/mod' + model + '.htm>' + model + "</a>";
  document.write(html);
  </script>
</center>

<table>
  <tr>
    <th>Me:</th>
    <th>On this site:</th></tr>
  <tr>
    <td>  <script>
      var email = "";
      email += "kkowalczyk";
      email += "@";
      email += "gmail.com"
      hyperlink = "<a href='mailto:email'>email</a>";
      hyperlink = hyperlink.replace(/email/g, email);
      document.write(hyperlink);
    </script></td>
    <td><a href="/software/sumatrapdf/">SumatraPDF</a> - PDF Reader for Windows</td>
  </tr>
  <tr>
    <td><a href="http://github.com/kjk">github.com/kjk</a></td>
    <td><a href="/software/fofou/">fofou</a> - forum software for App Engine</td>
  </tr>
  <tr>
    <td><a href="http://flickr.com/photos/kjk">flickr.com/photos/kjk</a></td>
    <td><a href="/articles/pyref.html">pyref</a> - quick Python reference</td>
  </tr>
  <tr>
    <td><a href="http://del.icio.us/kjk/">del.icio.us/kjk</a></td>
    <td style="text-align: right;"><a href="/static/me.html">more</a></td>
  </tr>

  <tr>
    <td><a href="http://twitter.com/kjk">twitter.com/kjk</a></td>
  </tr>
</table>
</center>
<p></p>

<table>
  <tr>
    <th colspan=2>Recent posts:</th>
  </tr>
{% for article in articles_summary %}
<tr>
  <td class="date">{{ article.published_on|date:"d M Y" }}</td>
  <td><a href="{{ article.permalink }}">{{ article.title }}</a>
    {% if not article.is_public %}
    <font color=red>private</font>
    {% endif %}
  </td>
</tr>
{% endfor %}
<tr><td></td><td style="text-align: right;"><a href="/archives.html">see all {{ articles_count }}</td></tr>
</table>

<p></p>
<hr>
<div id="tagCloud">
</div>
<hr>

</div>

<hr>
{% include "analytics.html" %}
<script charset="utf-8" type="text/javascript" src="{{ articles_js_url }}"></script>
</body>
</html>
