{% if index_page or is_admin %}
  <div id=head>
    <div id=inner>
      <span class="right">
        <a href="/software/sumatrapdf/">Sumatra PDF</a> &bull; 
        <a href="/software/fofou/">Fofou</a> &bull; 
        <a href="/archives.html">archives</a> &bull; 
        <a href="/more.html">more...</a>
        <a id=headsearch href="javascript:toggleSearch();">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </span>

      {% if is_admin %}
      <a href="/me.html">me</a>
      &nbsp;<a class="visible" href="/app/edit">(new post)</a>
      &nbsp;<a class="visible" href="{{ login_out_url }}">(log out)</a>
      &nbsp;<a class="visible" href="/app/mine">private posts</a>
      {% else %}
      <a href="me.html">Krzysztof Kowalczyk</a>
      &nbsp<a id="login_id" class="invisible" onMouseOver="showLogin();" onMouseOut="hideLogin();" href="{{ login_out_url }}">login</a>
      {% endif %}
    </div>
  </div>

  <div id=searchbox style="display:none;">
  <form method="get" action="http://google.com/search">
  <input type="hidden" name="IncludeBlogs" value="1">
  <input type="hidden" name="as_sitesearch" value="http://blog.kowalczyk.info">

  <center>
    <label for="searchFieldId">Search this site:</label> <input type="text" name="q" id="searchFieldId"/>
    <input class="button" value="Go" type="submit">
  </center>
  </form>
  </div>
{% endif %}
