<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="alternate" type="application/atom+xml" title="RSS 2.0" href="/atom.xml">
<link  href="{{ prettify_css_url }}" type="text/css" rel="stylesheet">

<title>Krzysztof J. Kowalczyk's notebook</title>

<script type="text/javascript" src="{{ jquery_url }}"></script>

{% include "tagcloud.js" %}

<script type="text/javascript">

function articlesJsonLoaded(articlesJson) {
  articles_json = articlesJson;

  var html = genTagCloudHtml();
  $('#tagCloud').html(html);
}

$(document).ready(function(){
  $("#searchFieldId").focus(function(){
    $(this).val("").removeClass("inactiveSearch");
  });
  $("#searchFieldId").blur(function(){
    $(this).val("Search this site").addClass("inactiveSearch");
  });

  $("#searchFieldId").blur(); /* force setting the text */
});

</script>

<script src="{{ prettify_js_url }}" type="text/javascript"></script>

{% include "inline_css.html" %}
<style>

.smaller {
	color: gray;
	font-size: 65%;
	font-weight: normal;
}

.smaller2, .tags {
	color: gray;
	font-size: 85%;
	font-weight: normal;
}

.tags a:link {
  text-decoration: none;
}

.tags a:visited {
  text-decoration: none;
  color: blue;
}

.tags a:hover   { 
  background-color: #5F9EA0; 
  color: #fff; 
  text-decoration: none;  
}

.article_title {
	color: black;
	font-weight: bold;
}

.title_permalink2 {
	font-weight: bold;
	text-decoration: none;
	color: gray;
}

a.title_permalink2:hover {
	color: #c00;
}

.title_permalink {
	font-weight: bold;
	font-size: 160%;
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid lightgray;
}

a.title_permalink:hover {
	color: #c00;
}

.invisible { color: #F9F7F5 }

</style>
</head>

<body onload="prettyPrint()">

<div id="content">

<h1 style="display:inline; padding-left:4px"><a href="/" style="text-decoration:none; color: black">
Krzysztof J. Kowalczyk</a> <span class="smaller">(a guy and his software)</span>
</h1>
<span style="float:right">
<a class="title_permalink2" href="/static/resume.html">About</a>
<span style="color:gray">&nbsp;&bull;&nbsp;</span>
<a class="title_permalink2" href="/atom.xml">Subscribe (rss)</a>
<span style="color:gray">&nbsp;&bull;&nbsp;</span>
<form style="display:inline" method="get" action="http://google.com/search" >
<input type="hidden" name="IncludeBlogs" value="1">
<input type="hidden" name="as_sitesearch" value="http://blog.kowalczyk.info">
<input size=20 type="text" name="q" id="searchFieldId">
<input class="button" value="Go" type="submit">
</form>
</span>
<p></p>
<p></p>

<table>
<tr>
	<td valign=top style="background: #F9F7F5; padding-right: 12px; padding-left: 4px; max-width: 240px; font-size: 80%">
		{% if is_admin %}
		<b>Admin actions</b><br>
		<div style="margin-left: 6px">
		<a href="{{ login_out_url }}">log out</a><br>
		<a href="/app/edit">new blog post</a><br>
		<a href="/app/edit?ramblings=yes">new note post</a><br>
		<a href="/app/showprivate">show private</a><br>
		</div>
		{% endif %}

		<b>Me</b> {% if not is_admin %} <a id="login_id" class="invisible" onMouseOver="showById('login_id');" onMouseOut="hideById('login_id');" href="{{ login_out_url }}">login</a>
		{% endif %}
		<br>
		<div style="margin-left: 6px">
		<script>
		  var email = "kkowalczyk";
		  email += "@";
		  email += "gmail.com"
		  hyperlink = "<a href='mailto:email'>email</a>";
		  hyperlink = hyperlink.replace(/email/g, email);
		  document.write(hyperlink);
		</script>
		<br>
		<a href="http://github.com/kjk">github.com/kjk</a><br>
		<a href="http://code.google.com/u/kkowalczyk/">code.google.com/u/kkowalczyk</a><br>
		<a href="http://twitter.com/kjk">twitter.com/kjk</a><br>
		<a href="/static/me.html">more</a><br>
		</div>

		<br>

		<b>On this site</b><br>
		<div style="margin-left: 6px">
		<a href="/software/sumatrapdf/">SumatraPDF</a><br>
		<span class="smaller2">(PDF Reader for Windows)</span><br>
		<a href="/software/vack/">VisualAck</a><br>
		<span class="smaller2">(visual grep for Mac)</span><br>
		<a href="/software/fofou/">fofou</a><br>
		<span class="smaller2">(forum software for App Engine)</span><br>
		<a href="/articles/cocoa-reference.html">Cocoa reference</a><br>
		<a href="/articles/pyref.html">Python reference</a><br>
		<a href="/articles/jsref.html">JavaScript reference</a><br>
		<a href="/software/15minutes/">15minutes</a><br>
		<a href="/software/scdiff/">scdiff</a><br>
		</div>

		<br>

		<b>Tags</b><br>
		<div id="tagCloud" style="margin-left: 6px">
		</div>
	</td>

	<td style="padding-left: 12px" valign="top">
		<div id="post">
		{% for article in articles_summary %}

		<table width=100%>
		<tr>
		<td valign="top" style="padding-left: 0px;">
			<a class="title_permalink" href="/{{ article.permalink }}">{{ article.title }}</a>
			{% if not article.is_public %} &nbsp;<font style="color: red;">private</font> {% endif %}
			{% if is_admin %}&nbsp;
			<a id="article_{{ article.no }}" href="/app/edit?article_permalink={{ article.permalink }}">edit</a>
			{% endif %}
		</td>
		</tr>
		</table>
		{{ article.html_body }}

		<div class="tags">
			{% if article.tags_display %}
			Tags: {{ article.tags_display }} &bull;
			{% endif %}
			posted on {{ article.published_on|date:"d M Y" }}
		</div>
		<br>

		{% endfor %}
		</div>
	</td>
</tr>
</table>

<br>

<center class="postmeta">
{% if newer_page %}
<a title="page {{ newer_page.no }}" href="/page/{{ newer_page.no }}">← newer</a>
{% else %}
← newer
{% endif %}

&bull;
{{ page_no }} of <a href="/archives.html">{{ pages_count }}</a> pages
&bull;

{% if older_page %}
<a title="page{{ older_page.no }}" href="/page/{{ older_page.no }}">older →</a>
{% else %}
older →
{% endif %}
</center>

</div>

{% include "analytics.html" %}
<script charset="utf-8" type="text/javascript" src="{{ articles_js_url }}"></script>
</body>
</html>
