{% if index_page or is_admin %}
  <div id=head>
    <div id=inner>
      <span class="right">
        <a href="/software/sumatrapdf/">Sumatra PDF</a> &bull; 
        <a href="/software/fofou/">Fofou</a> &bull; 
        <a href="/archives.html">archives</a> &bull; 
        <a href="/static/me.html">more...</a>
        <a style="text-decoration: none;" id=headsearch href="javascript:toggleSearch();">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </span>

      <a href="/static/me.html">Krzysztof Kowalczyk</a>'s notebook
      {% if not is_admin %}
      &nbsp;<a id="login_id" class="invisible" onMouseOver="showLogin();" onMouseOut="hideLogin();" href="{{ login_out_url }}">login</a>
      {% endif %}
    </div>
  </div>

  <div id=searchbox style="display:none;">
  <form method="get" action="http://google.com/search">
  <input type="hidden" name="IncludeBlogs" value="1">
  <input type="hidden" name="as_sitesearch" value="http://blog.kowalczyk.info">

  <center>
    <label for="searchFieldId">Search this site:</label> <input type="text" name="q" id="searchFieldId"/>
    <input class="button" value="Go" type="submit">
  </center>
  </form>
  </div>
{% endif %}
