body {
	background-color: ffffff;
	font-family: Verdana,Geneva,Arial,Sans-serif;
	font-size: 10pt;
}

td {
	font-family: Verdana,Geneva,Arial,Sans-serif;
	font-size: 10pt;
}

DIV.bodycopy {
    margin-left: 10%;
    margin-right: 8%
}