<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
  <title>My Knowledge base</title>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" />
  
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
  <!-- <script type="text/javascript" src="/static/js/jquery.js"></script> -->
  <script type="text/javascript" src="/static/js/editor.js"></script>
  <script type="text/javascript" charset="utf-8">
  </script>
</head><body>
<div id="lt">Notebook (<a href="/about">about</a>)</div>
<div id="rt"> <a href="/view">View notes</a> | <a href="/signin">Sign in</a> or <a href="/createaccnt">create account</a></div>
<div id="add">
    <input id="addbtn" type="button" value="Add public note"/> or <a href="/cancel">cancel</a></div>
<textarea id="note" wrap="soft" rows="10" cols="80" style="background-color: #F5F5F5; color: #696969;"></textarea>
</body>
</html>

